<ion-view view-title="Quiz"> 
  <ion-content class="padding bg" ng-controller="QuizCtrl">
    <div class="intro" ng-show="!inProgress">
        <br>
        <br>
        <br>
        <iframe width="100%" height="215" src="{{videoLink | trusted}}" frameborder="0" allowfullscreen></iframe>
        <br>
        <button id="startQuiz" class="button button-block button-positive" ng-click="start()" ng-show="first">
            Begin Quiz?
        </button>
        <h4 ng-show="!first">No repeat quizzes<h4>
        
    </div>
    
    <div class="quiz-view" ng-show="inProgress">
        <div ng-show="!finished">
        <h4> {{ question }} </h4> 
        <ion-list>
            <ion-radio ng-model="$parent.selection" ng-repeat="ans in answers" value="{{ans}}" type="radio" name="selection"> {{ans}}</ion-radio>
        </ion-list>
        <button class="button button-block button-positive bottom" ng-click="checkAnswer({{selected}})">
            Next Question
        </button>
        </div>
    </div>
        
    <div ng-show="finished">
        <br>
        <br>
        <br>
        <div class="card">
            <div class="item item-divider">
                All Done!
            </div>
            <div class="item item-text-wrap scoreOutput">
                <h3 id="results"> You finished with {{ score }}% correct!</h3>
            </div>
        </div>
        
    </div> 
</ion-content>
</ion-view>