<ion-view view-title="Settings">
    <ion-nav-title class="customtitle positive">
        <div> Leaderboard </div>
    </ion-nav-title>
  <ion-content class="padding bg">
      <div class="list">
        <div class="item item-divider">
            Top 10 Choozers
        </div>
        <a class="item item-avatar" href="#" ng-repeat="user in topUsers">
            <img src="{{southpark[$index].link}}">
            <h2>{{user.name}}</h2>
            <p>{{user.totalscore}}</p>
        </a>
        
      </div>
  </ion-content>
</ion-view>