<ion-view view-title="Modules">
  <ion-content class="padding">
    <h4>Modules</h2>
    <br> <!-- Replace this with padding later -->
    <div ng-repeat="module in moduleSet">
        <div class="list card" value="{{module.id}}">
            <!--this might not work without being under the ng-repeat directly-->
            <!--<a href= "#/tab/modules/{{$index}}"> -->
            <a href= "#/tab/modules/quiz" ng-click="openQuiz({{ module.id }})">  
            <div class="item item-avatar">
                <img src="{{ module.mod_avatar }}">    
                <h2>{{ module.name }}</h2>
                <p> 1 quiz </p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="{{ module.thumbpic }}">
                <p> {{ module.description }} </p>
            </div>
            
            <div class="item">
                Score: {{  }}
            </div>   
            <!--Incorporate completion here-->
            </a>
        </div>
    </div>                 
  </ion-content>
</ion-view>