<ion-view view-title="Modules" cache-view="false">
  <ion-content class="padding">
    <div ng-show="!loggedIn">
        <h3> You must log in first </h3> 
    </div>
    
    
    <div ng-show="loggedIn">
    <h4>Modules</h4>
    <br> <!-- Replace this with padding later -->
    <div ng-repeat="module in moduleSet">
        <div class="list card" value="{{module.id}}">
            <!--this might not work without being under the ng-repeat directly-->
            <!--<a href= "#/tab/modules/{{$index}}"> -->
            <a href= "#/tab/modules/lessons" ng-click="openQuiz({{ module.id }})">  
            <div class="item item-avatar">
                <img src="http://i.imgur.com/IfRASdF.png">    
                <h2>{{ module.name }}</h2>
                <p> 1 quiz </p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="{{ module.thumbpic }}">
                <p> {{ module.description }} </p>
            </div>
            </a>
        </div>
    </div>
    </div>
  </ion-content>
</ion-view>