<ion-view view-title="Profile">
  <ion-content class="padding profile">
      
      <div class="row logo_div">
        <div class="col"></div>
        <div class="col col-75">
            <img src="../img/logo.png" class="logo">
        </div> 
        <div class="col"></div>
      </div>

      <div class="row motto">
        <div class="col"></div>
        <div class="col col-75">
            <h4> Quizzes aren't just for them </h4>
        </div>
        <div class="col"></div>
      </div>
      
      <div class="row">
        <div class="col"></div>
        <div class="col col-75">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Password">
                </label>
            </div>
        </div>
        <div class="col"></div>
      </div>
      
      <div class="row">
        <div class="col"></div>
        <div class="col col-75">
            <button class="button button-block button-dark button-small">
            Login
            </button>
            <button class="button button-block button-dark button-small">
            Register
            </button>
        </div>
        <div class="col"></div>
      </div>
      

  </ion-content>
</ion-view>