<ion-view view-title="Lessons">
  <ion-content class="padding" ng-controller="LessonsCtrl">
    <h4>Lessons</h2>
    <br> <!-- Replace this with padding later -->
    <div ng-repeat="lesson in lessonSet">
        <div class="list card" value="{{lesson.id}}">
            <!--this might not work without being under the ng-repeat directly-->
            <!--<a href= "#/tab/modules/{{$index}}"> -->
            <a href= "#/tab/modules/lessons/quiz" ng-click="openQuiz({{ lesson.id }})">  
            <div class="item item-avatar">
                <img src="{{ lesson.mod_avatar }}">    
                <h2>{{ lesson.name }}</h2>
            </div>

            <div class="item item-body">
                <img class="full-image" src="{{ lesson.thumbpic }}">
                <p> {{ lesson.description }} </p>
            </div>
            
            <div class="item">
                Score: {{  }}
            </div>   
            <!--Incorporate completion here-->
            </a>
        </div>
    </div>                 
  </ion-content>
</ion-view>