    <div class="intro" ng-show="!inProgress">
        <h3> Youtube Video Here </h3>
        <button id="startQuiz" ng-click="start()">Ready?</button>
    </div>
    <div class="quiz-view" ng-show="inProgress">
        <!--<quiz info="placeholder"></quiz>-->
        <div ng-show="!finished">
            <h4> {{ question }} </h4> 
            <div class="list list-inset" ng-init="selected = -1">
                <ul>
                    <li class="item" ng-click="$parent.selected = $index" ng-class="{active:($parent.selected == $index)}" ng-repeat="option in options" name= "answer" value="{{ option }}">
                        {{ option }}
                    </li>
                </ul>
            </div>
            <button ng-click="nextQuestion()">Submit</button>
        </div>
    </div>
        
    <div ng-show="finished">
        <h3> Quiz is Over </h3>
        {{ score }}
        <!--TODO: Button here that resets you to module page? -->
        
    </div> 