.card > a {
    text-decoration: none;
}

item:active {
    border-color: #0a9dc7;
    background-color: #11c1f3;
    font-weight: bolder;
}

img.logo{
    width: 80%;
    height: 80%;
    /* text-align: center; */
    margin: auto;
    display: block;
}

.logo_div{
    margin-top: 10%;
}

.motto{
    text-align: center;
    margin-bottom: 10%;
    font-style: italic;
}

.bg{
    background-image: url("../img/symphony.png");
    background-repeat: repeat;
}

h4{
    color: #0a9dc7;
}

.img-circle{
    border-radius: 50%;
    border: solid 1px #555;
    background-color: #eed;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 4px 5px rgba(0,0,0,0.2);
    -o-box-shadow: 0px 4px 5px rgba(0,0,0,0.2);
}

#progressShell {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: gainsboro;
}
#progressBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: #33CD5F;
}

#label {
    text-align: center;
    line-height: 30px; 
    color: white;
}

.profile{
    width: 80%;
    height: 80%;
    display: block;
    margin: auto;
}

/*.badge{
    margin: auto;
    display: block;
}*/

.center-text{
    text-align: center;
}